body {
    background-image: url("notebook.jpg");
    background-repeat: no-repeat;
    width:fit-content;
}
div{
    margin-left:70px;
}
img{
    float:left;
}
h1 {
    margin-left:70px;
}
h2 {
    margin-left:70px;
}
p{
    margin-left:70px;
}
li{
    margin-left:100px;
}