{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Marvels of Science!!!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="teleporer-cube" style="margin-bottom:10px;" >
        <img src="/static/teleporter_cube.png" alt="Teleporter Cube" style="float:left;width:300px;">
        <form method="post" action="/">
            <input type="submit" name="teleporter" value="Scientific Mishap!">
        </form>
        <p>Level: 1</p>
        <p>Difficulty to activate: 4</p>
        <p>As you hold it you feel an almost subliminal hum</p>
    </div>
    <div class="wobbly-wrench" style="margin-bottom:10px;clear:left;">
        <img src="/static/wobbly_wrench.png" alt="Wobbly Wrench" style="float:left;width:300px;">
        <form method="post" action="/">
            <input type="submit" name="wrench" value="Scientific Mishap!">
        </form>
        <p>Level: 3</p>
        <p>Difficulty to activate: 6</p>
        <p>It hums with power. If you hold it long enough you begin to hear a high pitched sound that makes your teeth hurt.</p>
    </div>
{% endblock %}