<!doctype html>
<link rel="stylesheet" href="static/style.css" />
<head>
    <title>Behold the Wonders of SCIENCE!</title>
</head>
<html>
    <body>
        <main>
            <div class="teleporer-cube" style="margin-bottom:10px;" >
                <img src="/static/teleporter_cube.png" alt="Teleporter Cube" style="float:left;width:300px;">
                <p>things</p>
                <p>stuff</p>
                <input type="button" value="Scientific Mishap!">
            </div>
            <div class="wobbly-wrench" style="margin-bottom:10px;clear:left;">
                <img src="/static/wobbly_wrench.png" alt="Wobbly Wrench" style="float:left;width:300px;">
                <p>junk</p>
                <p>idk</p>
                <input type="button" value="Scientific Mishap!">
            </div>
        </main>
    </body>
</html>